/* General Styling */
body {
  background-image: url('../images/brushed_alu_dark.png');
}
.grid-x {
  margin-left: 10%;
  margin-right: 10%
}
.card {
  border-radius: 4px;
  border: 5px solid #470d0d
}
/* Header styling */
header {
  background-image: url('../images/cheers.jpg');
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../images/cheers.jpg);
}
.high-nav {
  background-color: #470d0d;
  border-bottom: 6px groove #eee;
}
.app-title {
  color: #fff; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 60px;
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  margin-left: 10%;
  float: left;
}
.icons {
  margin-right: 10%;
  width: 205px;
}
.icon-link {
  color: white;
  margin-right: 7%
}
.search-label {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 9%;
  font-family: 'Helvetica Neue', sans-serif; 
  text-transform: lowercase;
}
.input-group {
  margin-right: 15% ;
  margin-left: 12%;
  margin-bottom: 8%;
  width: 75%
}
.input-group-field, #search-button {
  border-radius: 4px !important
}
.input-group-field {
  border: 2px solid #649ad8;
  background-color: #fff
}
#search-button, #submit {
  background-color: #649ad8;
  font-weight: bold;
  text-transform: uppercase
}
.lower-nav {
  background-color: #470d0d;
  border-top: 6px groove #eee;
  border-bottom: 5px solid #fff;
  margin-bottom: 3%
}
.fact {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: lowercase;
  font-size: 1.2em
}
/* Table stying */
.search-results {
  text-transform: lowercase
}
.dataTables_length {
  text-align: center;
  margin-bottom: 10px;
}
select {
  margin-bottom: 0
}
/* Landing Page */
#memes {
  float: right;
  margin-top: 200px;
  margin-right: 20px;
}
#beer-meme {
  height: 400px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.brewery-image {
  height: 250px;
}
.fave-breweries {
  margin-top: 20px;
  text-align: center
}
#scroll-div-1 {
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid #cfcece;
  border-radius: 4px;
  width: 35%
}
#scroll-div-2 {
  height: inherit; 
  overflow: auto;
  border-bottom: 2px solid #cfcece
}
#scroll-div-3{
  height:1500px
}

ul {
  list-style: none;
  margin-left: 120px;
}
ul li:nth-child(3) {
  margin-left: 20px;
}
ul li:nth-child(7) {
  margin-left: -35px;
}

/* Map/Directions styling */
#map {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  border: 5px solid #470d0d;
  border-radius: 6px
}
.controls {
  margin-top: 8px;
  border: 1px solid #470d0d;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 25%;
  margin-left: 20px;
}
#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}
#mode-selector {
  color: black;
  background-color: grey;
  padding: 5px 11px 0px 11px;
  margin-left: 20px;
  width: 25%
}
/* Comments Accordion */
.accordion-panel-title { 
  border-radius:4px;
	background-color: #470d0d;
  border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;;
	cursor: pointer;
	padding: 10px;
	color: #fff;;
}	
.actual-accordion-title, .panel-2  {
  font-weight: bold;
}
.accordion-panel-content {
  border-radius:4px;
	background-color: #efefef;
	display: none;
	padding: 10px;
}
#error {
  margin-bottom: 5px;
  color: red;
}
/* Footer Styling */
.sticky {
  background-color: #470d0d;
  color: white;
  border-top: 5px solid #fff;
  margin-top: 3%;
  padding-top: 40px;
  padding-bottom: 40px
}
.footer-copyright {
  margin-left: 5%
}
.footer-fa-icon {
  text-align: center;
}
.footer-social-icons {
  margin-right: 5%
}
/* Media Queries - for map only! */
@media (max-width: 640px) { 
  #mode-selector {
    height: 100px;
    width: 20%
  }
}
@media (max-width: 768px) { 
  #mode-selector {
    height: 100px;
    width: 20%
  }
}

