/* Foundation Styling */
body {
  font-family: 'Cuprum', sans-serif;
}
header {
  position: relative;
  background-image: url('../images/cheers.jpg');
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../images/cheers.jpg);
}
.input-group {
  margin-right: 15% ;
  margin-left: 12%;
  margin-bottom: 7%;
  width: 75%
}
h2 {
  font-family: 'Cuprum', sans-serif;
  color: white;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase
}
h3 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 14%;
  font-family: 'Cuprum', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase
}
.top-bar {
  background-color: #B22222;
}
p {
  margin-bottom: 0;
}
/* End Foundation Styling */

.map-me {
  cursor: pointer;
}

#map {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  /* margin-left: 12px; */
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

#mode-selector {
  color: black;
  background-color: grey;
  /* margin-left: 12px; */
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}